@media (max-width: 900px) {
    body {
        overflow-y: auto;
    }
    main {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
    main .ImgLink {
        width: 100%;
    }
    main .ImgLink img {
        width: 100%;
    }
    main section.Participantes_Home header {
        width: calc(100vw - 50px);
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    main section.Participantes_Home header input {
        width: 100%;
    }
    main section.Participantes_Home header nav {
        width: 100%;
        justify-content: space-between;
    }
    main section.Participantes_Home section.TabelaParticipantesHome {
        width: calc(100vw - 10px);
    }
    main section.Participantes_Home section.TabelaParticipantesHome .CardUsuario {
        justify-content: space-between;
        align-items: center;
    }
    main section.Participantes_Home section.TabelaParticipantesHome ul {
        position: sticky;
        top: 0;
        width: 100%;
        list-style: none;
        display: grid;
        grid-template-columns: 10% auto;
    }
    main section.Participantes_Home section.TabelaParticipantesHome .CardUsuario h4 {
        width: 20%
    }
    main section.Participantes_Home section.TabelaParticipantesHome .CardUsuario nav button span {
        display: none;
    }
    section.RandomicoParticipantes .ExibirParticipantes {
        font-size: 30px;
    }
}